<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--    导入外部properties配置文件--><properties resource="conf/jdbc.properties">
</properties>

    <settings>
        <!--        日志-->
        <setting name="logImpl" value="log4j2"/>
        <!-- 提示：一级缓存默认就是开启的，而且无法关闭 一级缓存指的是同一个session之间的数据共享-->
        <!-- 启用缓存（二级）（总开关） 二级缓存是指不同session之前的数据共享-->
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <!--别名，此包下所有类都默认别名，不区分大小写-->
    <typeAliases>
        <package name="com.cheer.model"/>
    </typeAliases>

    <!--<plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
        </plugin>
    </plugins>-->

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--        <mapper resource="mapper/EmpMapper.xml"/>-->
        <!--1.配置文件必须和接口类在同一个包下-->
        <!--2.配置文件必须和接口同名-->
        <package name="com.cheer.dao"/>

    </mappers>
</configuration>